<!DOCTYPE html>
<html>
    <head>
        <title>Annonces</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <link href="{{ asset('dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('dist/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/boannonce/css/custom.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/boannonce/css/footer.css') }}" type="text/css" rel="stylesheet" />
        
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/boannonce/js/custom.js') }}"></script>
    </head>
    <body>
        <!-- menu -->
        	{% include('BoAnnonceBundle:Default:menu.html.twig') %}
        <!-- menu end -->

        <div class="container wrap jumbotron">
            <div class="row">
                <h1>Mon Annonce</h1><br/>
                {% block body %}
                {% endblock %}
                
            </div>
        </div>
        <!-- menu -->
        	{% include('BoAnnonceBundle:Default:footer.html.twig') %}
        <!-- menu end -->
    </body>
</html>