<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{path('_accueil') }}"><img src="/images/symfony2.png" alt="" style="height: 20px"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{path('_accueil') }}">Accueil</a></li>
            </ul>
            {% if app.user.username is defined %}
	            <ul class="nav navbar-nav navbar-right">
				    <li class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
				        <ul class="dropdown-menu">
				            <li><a href="{{path('_user')}}">Mon profil</a></li>
				            <li><a href="{{path('_user_annonces')}}">Mes annonces</a></li>
				            <li><a href="{{path('_user_rdv')}}">Mes rendez-vous</a></li>
				            <li><a href="{{path('_user_messages')}}">Mes messages</a></li>
				            <li><a href="{{path('_user_logout')}}">Déconnexion</a></li>
				        </ul>
				    </li>
				</ul>
			{% else %}
				<ul class="nav navbar-nav navbar-right">
				    <li class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Identification <b class="caret"></b></a>
				        <ul class="dropdown-menu">
				            <li><a href="{{path('_login')}}">Connection</a></li>
				            <li><a href="{{path('_signup')}}">Inscription</a></li>
				        </ul>
				    </li>
				</ul>
	        {% endif %}
        </div>
    </div>
</nav>